<div class="my-4">    
    <ul class="nav justify-content-center">
      <li id="fx"><button class="btn btn-info btn-lg px-5" (click)="onClickHome($event)">Home</button></li>
      <li id="fx"><button class="btn btn-info btn-lg px-5 mx-3" (click)="onClickSchedule($event)">Schedule</button></li>
      <li><img  width="230" height="200"  src="assets/zoo.PNG"/></li> 
      <li id="fx"><button class="btn btn-info btn-lg mx-3 px-5" (click)="onClickMap($event)">Map</button></li>
      <li id="fx"><button class="btn btn-info btn-lg px-5" (click)="onClickSupport($event)">Support</button></li>
    </ul>

</div>
    <router-outlet></router-outlet>